bucket = "YOUR_BUCKET_NAME"
yui = "yuicompressor-2.4.7.jar"
expires = 2592000  # 30 days

repos = [
    {
        "url":"git@github.com:USERNAME/REPOSITORY.git",
        "name":"my-repo",
        "before_build":""
        "resource_root":""
    }
]